#root {
  background-color: #1b1a1a;
  outline: none !important;
}

body {
  outline: none !important;
}

.bg-primary {
  background-image: linear-gradient(to left, #00c0d9, #00d986);
}

.form-label {
  color: #646464;
}

/* Sidebar background */
.overflow-auto.flex-grow-1.tab-content {
  background-color: #232323;
}

/* My ID area background */
.p-2.small {
  background-color: #1e1d1d;
}

/* My ID span */
.my-id {
  color: #c3c3c3;
  background-color: #262626;
}

/* Nav tabs */
.nav-tabs {
  border: unset !important;
  border-bottom: unset !important;
}

.nav-link:hover {
  color: #646464 !important;
}

.nav-tabs .nav-link {
  border: unset !important;
}

.nav-tabs .nav-link.active {
  color: #b8b8b8 !important;
  background-color: rgb(32, 32, 32) !important;
  border: unset !important;
}

.nav-link:hover:focus {
  border: unset !important;
}

/* Selected item */
.gradient {
  background-image: linear-gradient(to left, #00c0d9, #00d986);
}

/* Bootstrap primary button overwrite */
.btn-primary {
  background-color: #00c0d9;
  border: unset !important;
}

.btn-primary {
  background-color: #00c0d9;
  border: unset !important;
}

.btn-primary:hover {
  background-color: #00d986 !important;
}

.btn-primary:disabled {
  background-color: #00a2b8;
}

.btn-primary:disabled:hover {
  background-color: #02af6d;
}

/* Links */
.nav-link {
  color: #4d4d4d !important;
}

/* Sidebar List */
.list-group-item.list-group-item-action {
  background-color: #232323 !important;
}

.list-group-item.list-group-item-action.active {
  background-color: #00c0d9 !important;
  border: unset !important;
  color: white !important ;
  transition: all 0.5s ease-out;
}

.list-group-item.list-group-item-action {
  color: #777777;
}

.list-group-item.list-group-item-action:hover {
  color: #b8b8b8;
}

.list-group-flush > .list-group-item {
  border-width: 0 0 3px !important;
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 3px !important;
}

/* Message Input */
.message-input.form-group {
  margin-bottom: unset !important;
  height: 4.6rem;
}

.input-group {
  height: 100% !important;
}

.message-text-area {
  border-radius: unset !important;
}

.send-button {
  background-image: unset !important;
  border-radius: unset !important;
}

.send-button.btn.btn-primary:focus {
  background-color: #00d986 !important;
}

/* Misc */
.new-action {
  height: 4.6rem;
}

.incoming-bubble {
  border-radius: 0px 15px 15px 15px !important;
  background-color: #00d986;
}

.outgoing-bubble {
  border-radius: 15px 0px 15px 15px !important;
  background-color: #00c0d9;
}

/* Modal */
.modal-content {
  background-color: #212529 !important;
}

.modal-header {
  border-bottom: 1px solid #1b1a1a;
  color: #777777;
}

.form-check-label {
  color: #b8b8b8;
  padding-left: 10px !important;
}

.close {
  color: #b8b8b8;
}

.close:hover {
  color: #c3c3c3;
}
